.active .MuiTypography-displayBlock{
    font-weight: bold !important;
   
}
.active .MuiListItem-button{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
}
.MuiListItem-button{
    height: 32px !important;
    padding: 0px 12px 0px 26px;
}
.MuiDrawer-paperAnchorDockedLeft{
    border-right: 0px !important;
    border-top: 0px !important;
}
#moreDiv{
    overflow-y: auto !important;
}
.MuiList-root{
    /* height: 257px !important; */
    overflow-inline: hidden !important;
    overflow-y: auto !important;
}
.MuiListItemIcon-root{
    margin-left: 8px !important;
}
#pMarginLeft{
    margin-left: 10px;
    cursor: text;
    font-weight: bold !important;
}
#pMarginLeftMeet{
    margin-left: 20px;
    cursor: text;
    font-weight: bold !important;
}
/* #pMarginLeft:hover
{
    background-color: rgba(255, 255, 255, 0) !important
} */
#textMinWidth{
    min-width: 0px !important;
    overflow:hidden
}
#iconMarginRight{
    margin-right: 20px !important;
}
.aT5-aOt-I-JX-Jw{
background-color: transparent;
background-repeat: no-repeat;
overflow:hidden !important;
background-position: center;
background-size: 20px 20px;
border-radius: 50%;
display: flex;
align-items: center;
height: 40px;
left: 8px;
pointer-events: auto;
position: absolute;
top: 8px;
transition: all .3s cubic-bezier(.4,0,.2,1);
width: 40px
}
#hideTheScroll{
    overflow-inline: none !important;
    overflow-y: none !important;
}
#shoeRightBar{
    background-color: #f1f3f4;
    position: relative;
    margin-bottom: 42px;
    padding: 5.9px 0px 0px 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
}
#shoeRightBar:hover{
    right: '-567px'  !important;
}
#plusDiv{
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
    height: 56px;
    width: 56px;
    cursor: pointer;
}
#plusDivExpand{
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
    height: 56px;
    width: 170px;
    cursor: pointer;
}
#plusDivExpand:hover{
    box-shadow:   2px 2px 2px 2px rgba(60,64,67,0.302)
}
.MuiSelect-select.MuiSelect-select{
    padding-right: 0px !important;
}
.MuiList-padding{
    padding-top: 0px !important;
}
#dropArrowCheck{
   position: relative !important;
   /* top: 7px !important; */
   right: 9px !important;
   cursor: pointer;
}
.PrivateSwitchBase-root-31{
    padding: 5px !important;
}
.MuiListItem-root{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
#inboxList{
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color: #202124;
}
